<%- include('layouts/header')%>
<body>
    <h2>This is Home Page</h2>
    <img src="/images/nodejs.png">
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>

    <%- include('layouts/footer')%> 
</body>
</html>